h1, h2, h3, h4, h5, h6, .dt-sc-ico-content h4 a, .dt-sc-ico-content.type2 h4 a, .entry-title h3, .dt-sc-team h4, h3.widgettitle, .dt-sc-music-audio h5 a, input[type=text], input[type=email], textarea, .breadcrumb-section h1, .activity h4, .megamenu-child-container > ul.sub-menu > li > a {
    font-family: 'Roboto Condensed', sans-serif;
    /*font-family: 'Lobster', cursive;*/
}

body {
    font-family: 'Roboto', sans-serif;
}

.dt-sc-toggle-frame h5 a, .course h5.dt-sc-toggle-accordion:before, .course h5.dt-sc-toggle-accordion.active:before, h5.dt-sc-toggle a, h5.dt-sc-toggle-accordion a, .product-details h5 a, .front-portfolio .image-overlay h5 a {
    font-family: 'Roboto', sans-serif;
}

.product-details {
    min-height: 110px;
}

.product-details h5 {
    min-height: 48px;
    width: 100%;
}

#primary {
    margin-top: 40px;
}

.dt-sc-team:hover .dt-sc-image-overlay a.link, .portfolio:hover .image-overlay a.link {
    left: 45%;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

footer .widget_recent_entries ul li {
    margin-bottom: 5px;
}

ul.dt-sc-fancy-list li {
    margin-bottom: 5px;
}

figure {
    display: inline-block;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin #F7F7F7 solid;
    margin: 0.5em;
    padding: 0.5em;
    max-width: 100%;
    background-color: #fff;
}

img.scaled {
    width: 100%;
}

.color-image {
    width: 55px;
}

ul.color-list {
    display: block;
    padding: 0;
    margin: 0;
}

ul.color-list li {
    position: relative;
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 0;
    list-style: none;
    border: 1px solid #CCCCCC;
    cursor: pointer;
}

ul.color-list li img {
    vertical-align: top;
}

ul.color-list li.active {
    border: 2px solid #008c99;
}

ul.color-list li.sold-out {
    cursor: not-allowed;
}

ul.color-list li.sold-out:after {
    content: '';
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.contact-details .fa {
    margin-left: 5px;
}

.contact-details {
    float: left;
    width: 100%;
    margin: 10px 0px;
    padding: 0px;
}

.contact-details p {
    text-align: left;
    float: left;
    margin: 0 30px 0 0;
}

#TopMenu {
    float: left;
    width: 100%;
}

#TopMenu .float-right {
    float: right;
}

header #TopMenu {
    float: left;
    width: 100%;
}

header #TopMenu .cart {
    float: left;
}

#TopMenu .toolbar-customer {
    float: left;
    list-style: none;
    margin-right: 30px;
}

#TopMenu .toolbar-customer {
    list-style: none;
}

.cartcount {
    float: right;
}

header .search-field {
    float: right;
    width: 25%;
    margin: 17px 0px 0px 0px;
    position: relative;
}

form select {
    background: #FFFFFF;
    border: 1px solid #dddddd;
    padding: 8px 5px 8px 10px;
    min-width: 89px;
}

.box-field {
    margin: 10px 0;
}

.box-field p {
    margin-bottom: 5px;
}

.box-field .color-label span {
    font-weight: bold;
}

.box-quantity .input[name='quantity'] {
    display: inline-block;
    width: 75px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.summary {
    position: relative;
}

.loading {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -40px;
    background-color: #008c99;
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.loading i {
    color: #fff;
}

.show-loading .loading {
    display: block;
}

.hide-loading .loading {
    display: none;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.tags li {
    float: left;
}

.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: #008c99;
    color: white;
}

.tag:hover::after {
    border-left-color: #008c99;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.margin-top-20 {
    margin-top: 20px;
}

ol.breadcrumb {
    list-style-type: none;
    padding: 30px 0 20px;
}

ol.breadcrumb li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ol.breadcrumb li:after {
    content: "\f0da";
    font-family: FontAwesome;
    padding: 0 12px;
}

ol.breadcrumb li:last-child:after {
    content: "";
    padding: 0;
}

.banner-large img,
.banner-large a {
    display: block;
}

.margin-top-40 {
    margin-top: 45px;
}